.modal__add {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(16, 16, 16, 0.6);
  z-index: 9999;
  top: 78%;
}

.modal__add .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 400px;
  height: 600px;
  border-radius: 10px;
  background-color: #fafafaff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.save,
.cancel {
  width: 90px;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 60px;
  border: 2px solid #f2ceb3ff;
  font-size: 18px;
}

.modal__heading {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.input {
  padding: 10px 0;
  width: 300px;
  height: 20px;
  font-size: 18px;
}

.modal__button {
  padding: 10px 0;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
}

.input-text {
  width: 300px;
  height: 20px;
}

.modal__button-save {
  margin-right: 10px;
}