.start-screen,
#footer {
  background: url("img/noise_transparent@2x.png"), linear-gradient(90deg, rgba(65,58,25,1) 0%, rgba(79,63,51,1) 46%, rgba(3,1,27,1) 100%);
}

* {
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  --container-max-width: 1200px;
  --padding: 20px;

  width: min(var(--container-max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}
