.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 10px;
  padding-left: 25px;
  width: 400px;
}

.logo__heading {
  color: #f2ceb3ff;
  font-size: 44px;
  margin: 2px;
}

.logo__subheading {
  margin-left: 20px;
  margin-top: 0px;
  color: #e8e7e6ff;
}

.wrapper-menu {
  display: flex;
  align-items: center;
  padding-right: 25px;
}

.menu {
  width: 100%;
  font-size: 20px;
  display: flex;
}

.menu-list {
  display: flex;
  list-style-type: none;
  padding-right: 20px;
}

.menu a{
  color: #e8e7e6ff;
  text-decoration: none;
  margin-left: 15px;
}

.menu a:hover {
  border-bottom: 3px solid #f2ceb3ff;
}